* {
    margin: 0;
    padding: 0;
}
body{
  background-color: gray;
}
.main{
  width: 892px;
	height: 1386px;
	margin:0 auto;
	background-color: #fff;
	padding: 0 44px;
}
header{
  position: relative;
}
header .smallred{
  width: 110px;
  height: 61px;
  background-color: #db3e75;
  position: relative;
}
header .smallred p{
  color: white;
  font-size: 12px;
  position: absolute;
  left: 5px;
  bottom: 0px;
}

header .po{
  font-size: 12px;
  color: #d45d5c;
  font-family: "SimHei";
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.one{
  position: relative;
  margin-top: 15px;
}
.one .pic img{
  width: 641px;
  height: 301px;
}
.one .red{
  width: 191px;
  height: 301px;
  background-color: red;opacity: 0.5;
  position: absolute;
  top:0px;
}
.one .green{
  width: 191px;
  height: 301px;
  background-color: green; opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 251px;
}
.right{
  width:203px;
	position:absolute;
	top:0;
	right:0;
}
.right .twohr{
  border: 2px #cc8091 solid;
  }
  .right h2{
    color: #000000;
    text-decoration: underline;
  }
  .right>p{
    font-size: 12px;
    color: #676767;
    margin-bottom:10px;
    font-family: 'STKaiti';
  }
  .right .seven{
   font-size: 116px;
   color: #75b86b;
   font-family: 'Microsoft YaHei';
   position: absolute;
	 top:100px;
  }
  .right .leftdown{
    position: relative;
  }
  .right .m1{
    font-size: 55px;
	  color:#cc8091;
	  position: absolute;
	  top: 130px;
  }
  .right .m2{
    font-size: 21px;
    color:#cc8091;
    position: absolute;
    top:150px;
    right:90px;
  }
  .right .m3{
    font-size: 12px;
    color:#cc8091;
    position: absolute;
    top:175px;
    right:50px;

  }
