* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #44565C;
}
.main{
  width: 892px;
	height: 1386px;
	margin:0 auto;
	background-color: #fff;
	padding: 0 44px;
}
header{
  position: relative;
  margin-bottom: 30px;
}
header .smallred{
  width: 110px;
  height: 61px;
  background-color: #db3e75;
  position: relative;
}
header .smallred p{
  color: white;
  font-size: 12px;
  position: absolute;
  left: 5px;
  bottom: 0px;
}

header .po{
  font-size: 12px;
  color: #d45d5c;
  font-family: "SimHei";
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.onehr{
  border-top: 2px solid #938e8c;
  width: 892px;
}
.one{
  position: relative;
}
.one .pic img{
  width: 641px;
  height: 301px;
}
.one .red{
  width: 191px;
  height: 301px;
  background-color: red;opacity: 0.5;
  position: absolute;
  top:0px;
}
.one .green{
  width: 191px;
  height: 301px;
  background-color: green; opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 251px;
}
.right{
  width:203px;
	position:absolute;
	top:0;
	right:0;
}
.right .twohr{
  border: 2px #cc8091 solid;
  }
  .right h2{
    color: #000000;
    text-decoration: underline;
  }
  .right>p{
    font-size: 12px;
    color: #676767;
    margin-bottom:10px;
    font-family: 'STKaiti';
  }
  .right .seven{
   font-size: 116px;
   color: #75b86b;
   font-family: 'Microsoft YaHei';
   position: absolute;
	 top:100px;
  }
  .right .leftdown{
    position: relative;
  }
  .right .m1{
    font-size: 55px;
	  color:#cc8091;
	  position: absolute;
	  top: 130px;
  }
  .right .m2{
    font-size: 21px;
    color:#cc8091;
    position: absolute;
    top:150px;
    right:90px;
  }
  .right .m3{
    font-size: 12px;
    color:#cc8091;
    position: absolute;
    top:175px;
    right:50px;
  }
  .two{
    width: 641px;
    height: 301px;
    position: relative;
    margin-top: 20px;
  }
  .two  h3{
    font-size: 16px;
    color: #418c59;
    font-size: 16px;
	  text-decoration: underline;
	  margin-bottom: 10px;
  }
  .what {
    width:220px;
  }
  .what p{
    font-size: 12px;
    color: #767777;
  }
  .when {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 250px;
  }
  .when p{
    font-size: 12px;
    color: #d2994f;
    opacity:70%;
  }
  .how{
    width: 150px;
    position: absolute;
    top: 0px;
    left: 480px;
  }
  .how p{
    font-size: 12px;
  }
  .what4{
    position: absolute;
    top: 90px;
    right: 40px;
  }
  .what4 p{
    color: #231815;
	  opacity:70%;
	  margin-bottom: 16px;
    font-size: 14px;
  }
  .three{
    clear: both;
  }
  .three .Left{
    width: 415px;
    float: left;
  }
   .the span{
    font-size: 72px;
    color: #f5e327;
  }
  .the p{
    font-size: 42px;
    color: #11456b;
    margin-bottom: 16px;
  }
  .threehr{
    border: 2px #11456b solid;
    margin-bottom: 20px;
  }
  .qian span{
    font-size: 70px;
	color: #f5e327;
	float: left;
	padding: 20px 10px 30px 0;
  }
  .qian p{
    font-size: 12px;
    color: #767777;
    line-height: 16px;
  }
  .qian .partwo{
    text-indent: 2em;
  }
  .qian .parthree{
    text-indent: 2em;
  }
  .qian img{
    float: right;
    padding:5px;
  }
  .three .Right{
    float: right;
    width: 458px;
    height: 275px;
  }

  .imgright{
    position: relative;
    top: 15px;
  }
  .imgright2{
    width: 458px;
    height: 61px;
    background-color: black; opacity: 0.5;
    position: absolute;
    bottom: 5px;
  }
  .describe{
    margin-left: 50px;
    margin-top: 10px;
  }
  .des_one{
    font-size: 26px;
    color: #fff;
  }
  .des_two{
    font-size: 12px;
    color: #72b16a;
  }
  .Rightdown{
    width: 459px;
    height: 318px;
    background-color:  #eeedd6;
    position: relative;
    top:55px;
  }
  .Rightdown .mark_one{
    font: 16px/41px "宋体";
    margin-left: 30px;
  }
  .Rightdown .mark_word{
    font:italic 12px "Microsoft YaHei";
  }
  .Rightdown .triangle{
   width: 0;
	 height: 0;
	 border-left:5px solid transparent;
	 border-right: 5px solid transparent;
	 border-bottom: 10px solid #10456b;
	 display: inline-block;
  }
  .reddown{
    width: 260px;
    height: 160px;
    background-color: #ea2d70;
    position: absolute;
    bottom: 0px;
  }
  .reddown span{
    font-size: 110px;
    color: #fff;
  }
  .reddown .line{
    border-left:2px solid #ffffff;
  	height:86px;
    position: absolute;
      top: 30px;
      left: 70px;
  }
  .mark_kk{
    font: italic 21px/24px "黑体";
	  color: #fff;
    margin-left:10px;
	 }
   .mark_two{
     font-size: 12px;
     color: #fff;
     margin-left: 10px;
   }
   .world{
     width: 190px;
     height: 130px;
     position: absolute;
    bottom: 10px;
    right: 0px;
   }
   .world p span{
     font: 72px "黑体";
   }
   .mark_a{
     float: left;
  color: red;
  margin: -30px 10px 0 -40px;
   }
   .mark_b{
     float: right;
     color: red;
   }
   footer{
     position: relative;
     top: 10px;
     clear:both;
   	width: 892px;
   	height: 59px;
   	border-top: 1px solid #938e8c;
   }
   .ifefoot{
     float: right;
     font: 12px "黑体";
     color: #d45d5c;

   }
